@font-face {
    font-family: Roboto-BoldItalic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf) format(true type);
    font-weight: normal;
    font-style: normal;
}


h1{
    color: white;
    top: 120px;
}

section{
    color: white;
    font-size: 25px;
    top: 400px;
}

p{
    left: 50px;
}

body{
    background-color: rgb(9, 4, 73);
}


.relative{
    position: relative;
    left: 420px;
    bottom: 70px;
    font-size: 50px;
    color: white;

}


.relative{
    font-family: Roboto-BoldItalic;
    font-weight: normal;
    font-style: italic;
    color: white;
}


input{
   
    width: 200px;
}

legend{
    color: white;
    font-size: 20px;
}


.container{
    color: white;
    font-size: 20px;
    display: flex;
   
    
}

.clothes{
    width: 200px;
    height: 200px;
    text-align: center;
}

.accessory{
    width: 200px;
    height: 200px;
    text-align: center;
}

.others{
    width: 200px;
    height: 100px;
    text-align: center;
}


a{
    color: white;
    position: relative;
    top: 200px;
    display: flex;
    height: 70px;
}

