@font-face {
    font-family: Roboto-BoldItalic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf) format(true type);
    font-weight: normal;
    font-style: normal;
}


h1{
    color: white;
}


body{
    background-color: rgb(9, 4, 73);
}


.relative{
    position: relative;
    left: 420px;
    bottom: 70px;
    font-size: 50px;
    color: white;

}


.relative{
    font-family: Roboto-BoldItalic;
    font-weight: normal;
    font-style: italic;
    color: white;
}


input{
   
    width: 200px;
}

legend{
    color: white;
    font-size: 20px;
}


.container{
    color: white;
    font-size: 20px;
}

.item{
    height: 40px;
}


a{
    color: white;
    position: relative;
    top: 80px;
}

